Notebook Desenvolvido por: **Matheus Terra**

Repositório: https://github.com/matheusfterra/QueroEducacao

Dataset: http://dataeng.quero.com:5000/caged-data

Objetivo: Conversão dos dados da API em um arquivo CSV para manipulação

In [ ]:
#Importação das Bibliotecas
import json
import urllib.request as urllib2
import csv
import pandas as pd

In [ ]:
#Extração dos dados da API, por meio de Json
url='http://dataeng.quero.com:5000/caged-data'
json_obj = urllib2.urlopen(url)

data = json.load(json_obj)

emp_data = data['caged']

In [ ]:
#Criação de um arquivo CSV para execução do script
employ_data = open('dataset/EmployData.csv', 'w')

In [ ]:
#Transferência dos dados para o arquivo criado
csvwriter = csv.writer(employ_data)

count = 0
for emp in emp_data:
      if count == 0:
             header = emp.keys()
             csvwriter.writerow(header)
             count += 1
      csvwriter.writerow(emp.values())
employ_data.close()

In [ ]:
#Checkagem do arquivo exportado
df = pd.read_csv('dataset/EmployData.csv')
df.head(5)

   categoria  cbo2002_ocupacao  ...  tipo_movimentacao  uf
0        101            422310  ...                 40  35
1        101            521110  ...                 20  52
2        101            783225  ...                 31  26
3        101            848520  ...                 43  43
4        101            521135  ...                 43  42

[5 rows x 25 columns]

In [ ]:
#Verificação dos nomes das colunas
df.columns

Index(['categoria', 'cbo2002_ocupacao', 'competencia', 'fonte',
       'grau_de_instrucao', 'horas_contratuais', 'id', 'idade',
       'ind_trab_intermitente', 'ind_trab_parcial', 'indicador_aprendiz',
       'municipio', 'raca_cor', 'regiao', 'salario', 'saldo_movimentacao',
       'secao', 'sexo', 'subclasse', 'tam_estab_jan', 'tipo_de_deficiencia',
       'tipo_empregador', 'tipo_estabelecimento', 'tipo_movimentacao', 'uf'],
      dtype='object')

In [ ]:
#Verificação do tipo de dados de cada uma das colunas e a quantidade de colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22336 entries, 0 to 22335
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   categoria              22336 non-null  int64
 1   cbo2002_ocupacao       22336 non-null  int64
 2   competencia            22336 non-null  int64
 3   fonte                  22336 non-null  int64
 4   grau_de_instrucao      22336 non-null  int64
 5   horas_contratuais      22336 non-null  int64
 6   id                     22336 non-null  int64
 7   idade                  22336 non-null  int64
 8   ind_trab_intermitente  22336 non-null  int64
 9   ind_trab_parcial       22336 non-null  int64
 10  indicador_aprendiz     22336 non-null  int64
 11  municipio              22336 non-null  int64
 12  raca_cor               22336 non-null  int64
 13  regiao                 22336 non-null  int64
 14  salario                22336 non-null  object
 15  saldo_movimentacao     22336 non-null  int64
 16  secao                  22336 non-null  object
 17  sexo                   22336 non-null  int64
 18  subclasse              22336 non-null  int64
 19  tam_estab_jan          22336 non-null  int64
 20  tipo_de_deficiencia    22336 non-null  int64
 21  tipo_empregador        22336 non-null  int64
 22  tipo_estabelecimento   22336 non-null  int64
 23  tipo_movimentacao      22336 non-null  int64
 24  uf                     22336 non-null  int64
dtypes: int64(23), object(2)
memory usage: 4.3+ MB